<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=KELVIN;Database=teste;User Id=sa;Password=78w1zkl;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
